/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 12, ../sass/screen.scss */
body {
  font-family: 'Calibri';
  padding-bottom: 40px;
}

/* line 19, ../sass/screen.scss */
header {
  height: 99px;
  background-color: #0a233d;
  padding: 3%;
}
/* line 24, ../sass/screen.scss */
header .header-link {
  color: white;
  font-size: 24px;
  text-decoration: none;
}

/* line 34, ../sass/screen.scss */
.img-hclass {
  height: 45px;
  margin-right: 5%;
}

/* line 41, ../sass/screen.scss */
#left-div {
  float: left;
  width: 28%;
  margin-top: 20px;
}

/* line 49, ../sass/screen.scss */
#menu-div {
  float: left;
  width: 15%;
  margin: 3%;
}

/* line 57, ../sass/screen.scss */
#logo-div {
  float: left;
  width: 62%;
  margin: 3%;
}

/* line 63, ../sass/screen.scss */
#center-div {
  padding: 0 3% 0 3%;
  float: left;
  width: 40%;
  margin-top: 45px;
}
/* line 68, ../sass/screen.scss */
#center-div li {
  float: left;
  margin-right: 6%;
}

/* line 74, ../sass/screen.scss */
#right-div {
  float: right;
  margin-top: 37px;
}

/* line 81, ../sass/screen.scss */
#section-container {
  padding: 2%;
}

/* line 88, ../sass/screen.scss */
#left-section {
  padding: 3%;
  width: 56%;
  float: left;
  border-right: 2px solid gray;
}

/* line 97, ../sass/screen.scss */
#div-h1 {
  padding: 2%;
}

/* line 102, ../sass/screen.scss */
#h1-lsection {
  color: #0a233d;
  font-size: 42px;
  font-weight: 600;
}

/* line 108, ../sass/screen.scss */
#input-container {
  margin: 5%;
}

/* line 114, ../sass/screen.scss */
#postcode-input {
  width: 110px;
  height: 32px;
}

/* line 120, ../sass/screen.scss */
.p-lsection {
  color: #525151;
  font-size: 22px;
}

/* line 125, ../sass/screen.scss */
.input {
  outline: none;
  border: solid #4077f2;
  border-radius: 100px;
  border-width: 2px;
  font-family: sans-serif;
  width: 205px;
  height: 32px;
  color: #4077f2;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
}

/* line 139, ../sass/screen.scss */
.div-space {
  margin: 4px 0 4px 0;
}

/* line 144, ../sass/screen.scss */
#asubmit {
  font-size: 27px;
}

/* line 149, ../sass/screen.scss */
input[type='radio'] {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border: 2px solid blue;
  border-radius: 50%;
  outline: none;
}

/* line 158, ../sass/screen.scss */
input[type='radio']:before {
  content: '';
  display: block;
  width: 60%;
  height: 60%;
  background: white;
  border: 2px solid #4077f2;
  border-radius: 50%;
}

/* line 169, ../sass/screen.scss */
input[type='radio']:checked:before {
  content: '';
  display: block;
  width: 60%;
  height: 60%;
  background: white;
  border: 2px solid red;
  border-radius: 50%;
}

/* line 180, ../sass/screen.scss */
input[type=radio]:checked + .label-button {
  background-color: #0a233d;
  color: white;
}

/* line 187, ../sass/screen.scss */
.label-button {
  outline: none;
  border: 2px solid #4077f2;
  border-radius: 34px;
  color: black;
  width: 60px;
  height: 24px;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  float: left;
  margin: 4px 2px 4px 4px;
}

/* line 204, ../sass/screen.scss */
.radio-toolbar input[type="radio"] {
  outline: 0;
  position: absolute;
  display: none;
}

/* line 210, ../sass/screen.scss */
.radio-toolbar label {
  width: 20px;
  height: 20px;
  display: inline-block;
  background-color: white;
  border-radius: 20px;
  font-family: Arial;
  font-size: 16px;
  cursor: pointer;
  border: 0.15em solid cornflowerblue;
  padding: 0 20px;
}
/* line 222, ../sass/screen.scss */
.radio-toolbar label #postcode {
  width: 90px;
}

/* line 227, ../sass/screen.scss */
.outer {
  margin: 0;
  position: relative;
  right: 16px;
  top: -14px;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  border: 1px solid cornflowerblue;
}

/* line 237, ../sass/screen.scss */
.inner {
  position: relative;
  left: 3px;
  top: 3px;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: cornflowerblue;
}

/* line 248, ../sass/screen.scss */
.radio-toolbar input[type="radio"]:checked + label {
  background-color: cornflowerblue;
  color: white;
}
/* line 251, ../sass/screen.scss */
.radio-toolbar input[type="radio"]:checked + label .inner {
  position: relative;
  left: 3px;
  top: 3px;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: white;
}
/* line 260, ../sass/screen.scss */
.radio-toolbar input[type="radio"]:checked + label .outer {
  margin: 0;
  position: relative;
  right: 16px;
  top: -14px;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  border: 1px solid white;
}

/* line 272, ../sass/screen.scss */
.radio-toolbar input[type="radio"]:checked + label#radio-button-select {
  background-color: cornflowerblue;
  border: 1px solid white;
}

/* line 279, ../sass/screen.scss */
#button-lsection {
  width: 166px;
  height: 48px;
  vertical-align: middle;
  line-height: 30px;
  text-align: center;
  color: white;
  border-style: 2px solid;
  background-color: #0a233d;
  border-radius: 100px;
  float: right;
}

/* line 292, ../sass/screen.scss */
footer {
  clear: both;
  border-top: 2px solid;
  padding: 3% 8% 0 8%;
}

/* line 299, ../sass/screen.scss */
#left-footer {
  width: 70%;
  padding: 1%;
}

/* line 304, ../sass/screen.scss */
.p-footer {
  font-size: 20px;
  font-weight: 700;
}

/* line 310, ../sass/screen.scss */
.a-lfooter {
  color: #0a233d;
  font-family: calibri;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
}

/* line 318, ../sass/screen.scss */
.a-lfooter:hover {
  color: #525151;
}

/* line 324, ../sass/screen.scss */
.ul-lfooter {
  border-top: solid #4077f2;
  padding-top: 5px;
}

/* line 329, ../sass/screen.scss */
.div-lfooter {
  float: left;
  width: 16%;
  margin-right: 8%;
}

/* line 336, ../sass/screen.scss */
#right-footer {
  float: right;
  width: 31%;
  border-style: solid;
}
/* line 342, ../sass/screen.scss */
#right-footer .a-rfooter {
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
  color: black;
}
/* line 352, ../sass/screen.scss */
#right-footer .bullet-div {
  width: 28px;
  height: 28px;
  background-color: #4077f2;
  display: inline-block;
  border-radius: 50%;
}

/* line 361, ../sass/screen.scss */
#right-section {
  float: right;
  padding: 3%;
}

/* line 366, ../sass/screen.scss */
.img-rclass {
  opacity: 0.7;
  width: 51%;
}

/* line 373, ../sass/screen.scss */
#div-timage {
  position: relative;
  border-top: 10px solid #4077f2;
  padding-top: 3%;
}

/* line 380, ../sass/screen.scss */
.h2-lsection {
  font-size: 20px;
  text-align: center;
  color: white;
}

/* line 386, ../sass/screen.scss */
#caption-topimage {
  position: absolute;
  top: 38px;
  left: 14px;
}

/* line 393, ../sass/screen.scss */
#caption-bottomimage {
  position: absolute;
  top: 51px;
  left: 20px;
}

/* line 399, ../sass/screen.scss */
#hover-tcaption {
  background: #4077f2;
  color: white;
  position: absolute;
  top: 113px;
  left: 0px;
  font-size: 14px;
}

/* line 409, ../sass/screen.scss */
#hover-tcaption:hover {
  font-weight: bold;
  font: 15px;
}

/* line 416, ../sass/screen.scss */
#div-bimage {
  position: relative;
  border-top: 10px solid #4077f2;
  padding-top: 3%;
}

/* line 422, ../sass/screen.scss */
#hover-bcaption {
  background: #4077f2;
  color: white;
  position: absolute;
  top: 123px;
  left: 0px;
  font-size: 14px;
}

/* line 433, ../sass/screen.scss */
#hover-bcaption:hover {
  font-weight: bold;
  font: 15px;
}

/* line 440, ../sass/screen.scss */
#h1-rsection {
  font-size: 28px;
  font-weight: bold;
}

/* line 446, ../sass/screen.scss */
.p-rcenter {
  margin: 5px 0 5px 0;
  color: #525151;
  font-size: 22px;
}
